<div class="head">
  <h1 class="page-title">Рейсы</h1>
  <p-button label="Создать" icon="pi pi-plus" routerLink="/orders/new" />
</div>

<div class="toolbar">
  <label class="filter-label" for="order-filter">Статус</label>
  <p-dropdown
    inputId="order-filter"
    [options]="filterOptions"
    [(ngModel)]="filter"
    optionLabel="label"
    optionValue="value"
    placeholder="Все"
    [showClear]="true"
    styleClass="minw-14rem"
  />
</div>

<p-table
  [value]="filteredOrders"
  [tableStyle]="{ 'min-width': '44rem' }"
  styleClass="p-datatable-sm"
>
  <ng-template pTemplate="header">
    <tr>
      <th>№ заявки</th>
      <th>Дата</th>
      <th>Статус</th>
      <th>Маршрут</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-o>
    <tr class="click-row" (click)="openOrder(o.id)">
      <td>
        <a [routerLink]="['/orders', o.id]" (click)="$event.stopPropagation()">{{
          o.orderNumber
        }}</a>
      </td>
      <td>{{ o.orderDate }}</td>
      <td>
        <app-order-status-badge [order]="o" [completed]="false" />
      </td>
      <td class="route-cell">{{ routeSnippet(o) }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4">Нет рейсов</td>
    </tr>
  </ng-template>
</p-table>
