:host {
  display: block;
  margin-bottom: 0.85rem;
}

:host(:last-child) {
  margin-bottom: 0;
}

.trip-form-field-control {
  display: block;
}

.trip-form-field {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}
